.head-label{
    -fx-text-fill:white;
    -fx-padding : 0 0 0 15px;
    -fx-background-color:#3c415e;

    -fx-font-size: 11pt;
}

.head-label2{
    -fx-text-fill:white;
    -fx-padding : 0 0 0 15px;
    -fx-background-color:#1cb3c8;

    -fx-font-size: 11pt;
}

.root{
    -fx-accent: #1cb3c8;
    -fx-focus-color: #1cb3c8;
    -fx-faint-focus-color: #1cb3c822;
    -fx-font-size: 9pt;
}

#009999;
#5d9b9b;

#3c415e;
738598  94a1b0
dfe2e2
1cb3c8

fgbh    -fx-font-style: bold;
"Tahoma"
"Cuprum"
"Open Sans Condensed"
    -fx-text-fill: #738598;

        -fx-accent: #8be4f0; -fx-accent: #8be4f0;

        -fx-font-family: "Open Sans Condensed";
            -fx-font-family: "Cuprum";